!.gitignore

### Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

### Python
*.py[cod]
*.so
*.egg
*.egg-info
build/
__pycache__/
dist/

### pyvenv
venv*
.venv*

*.tar
*.tar.gz

*.sqlite
migrations/

### env
# .env

### config
conf.py

### pytest
.pytest_cache
